@import "./color_schemes/light";

@font-face {
    font-family: 'Iosevka Custom Regular';
    src: url(/docs/assets/fonts/iosevka-custom-regular.woff2);
    unicode-range: U+000-5FF;
}

//$body-font-family: 'Iosevka Custom Regular', $body-font-family;


