@import "./color_schemes/light";

@font-face {
    font-family: 'Iosevka Custom Regular';
    src: url(/docs/assets/fonts/iosevka-custom-regular.woff2);
    unicode-range: U+000-5FF;
}

// @font-face {
//     font-family: 'Noto Sans Display';
//     src: url(/docs/assets/fonts/NotoSansDisplay-Regular.ttf) format('truetype');
// }

//$body-font-family: 'Noto Sans Display', $body-font-family;

h1, h2, h3, h4, h4 {
  font-family: 'Iosevka Custom Regular', $body-font-family;
}


