@import "./color_schemes/light";

$link-color: $blue-000;

@font-face {
    font-family: 'Iosevka Custom Regular';
    src: url(/docs/assets/fonts/iosevka-custom-regular.woff2);
    unicode-range: U+000-5FF;
}

@font-face {
    font-family: 'Noto Sans Display';
    src: url(/docs/assets/fonts/NotoSans-Regular.ttf) format('truetype');
}

$body-font-family: 'Noto Sans Display', $body-font-family;

h1, h2, h3, h4, h5, .site-title {
  font-family: 'Iosevka Custom Regular', $body-font-family;
}

:not(pre, figure) > code {
  border: none !important;
  padding: 0.2em 0.5em !important;
  margin: -0.2em 0.2em !important;
  background-color: $grey-lt-100 !important;
  border-radius: 0 !important;
}

code {
  line-height: 1 !important;
}

blockquote {
  box-shadow: none !important;
  border-left: 0 !important;
  border-radius: 6px !important;
}

.nav-list li.nav-list-item.external:first-child {
  padding-top: 1em;
}

blockquote.warning {
  color: $grey-dk-200 !important;
}

blockquote.question {
  background-color: $grey-lt-000 !important;
  margin-bottom: 1em;
}

blockquote.question > p:first-child {
  font-weight: normal !important;
  text-transform: none !important;
  font-size: inherit !important;
  padding-bottom: 0.5rem !important;
  color: $grey-dk-250 !important;
}

blockquote.question > p:first-child::before {
  content: 'Q: ';
}

em.k {
  display: inline-block;
  height: 1.75em;
  font-style: normal;
  background-color: $grey-lt-100;
  // text-shadow: 1px 1px 1px white;
  border-radius: 4px;
  padding: 0 0.35em;
  margin: 0 0.2em;
  min-width: 1.75em;
  text-align: center;
  // box-shadow: 0 2px 0 #dfdfdf;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  // border-top: solid 1px #ddd;
  // border-left: solid 1px #ddd;
  // border-right: solid 1px #ddd;
  border-bottom: solid 2px #d0d0d0;
  // font-family: "SFMono-Regular", menlo, consolas, monospace;
  font-size: 0.85rem;
  font-family: "Iosevka Custom Regular" !important;
}

code {
  font-size: .9rem !important;
  font-family: "Iosevka Custom Regular" !important;
}

li img {
  margin: 1.5rem 0;
}

img {
  border-radius: 4px;
}

em.label {
  font-style: normal !important;
}

.label {
  border-radius: 1em !important;
  background-color: $grey-lt-100 !important;
  color: $grey-dk-100 !important;
  padding: 0.16em 0.5rem !important;
  margin: -0.16em 0.2rem !important;
  text-transform: none !important;
  vertical-align: unset !important;
  font-size: 0.25rem !important;
}

// blockquote::before, blockquote p {
//   display: inline-block !important;
// }

.pagination {
  height: 1rem;
}

$body-heading-line-height: 1.8;
$content-line-height: 1.7;

$font-factor: 1.1;

$font-size-1: $font-size-1 * $font-factor;
$font-size-1-sm: $font-size-1-sm * $font-factor;
$font-size-2: $font-size-2 * $font-factor;
$font-size-3: $font-size-3 * $font-factor;
$font-size-4: $font-size-4 * $font-factor;
$font-size-5: $font-size-5 * $font-factor;
$font-size-6: $font-size-6 * $font-factor;
$font-size-7: $font-size-7 * $font-factor;
$font-size-8: $font-size-8 * $font-factor;
$font-size-9: $font-size-9 * $font-factor;
$font-size-10: $font-size-10 * $font-factor;
$font-size-10-sm: $font-size-10-sm * $font-factor;
